.btn-pink {
  background-color: #ff7eb3 !important;
  color: white !important;
  border: none !important;
}

.btn-pink:hover {
  background-color: #ff3f87 !important;
  color: white !important;
}

.btn-pink {
  transition: background-color 0.3s;
}
